.site-title {
  display: inline-flex;
  align-items: center;
  background-image: url("/heritage-promotion/assets/images/icon.png");
  background-size: 1000px 1000px; /* Adjust size as needed */
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 28px; /* Adds space for the icon */
}
